@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.woff2') format('woff2'),
				url('#{$file-path}.woff') format("woff");
		
	}
}

@include font-face("NocturneSerif", "../../fonts/NocturneSerif/NocturneSerif-Regular", 400);
@include font-face("NocturneSerif", "../../fonts/NocturneSerif/NocturneSerif-Bold", 700);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@import "../../fonts/fontawesome-free-5.12.0-web/scss/fontawesome.scss";
$fa-font-path: '../fonts/fontawesome-free-5.12.0-web/webfonts/';
@import "../../fonts/fontawesome-free-5.12.0-web/scss/brands.scss";
@import "../../fonts/fontawesome-free-5.12.0-web/scss/regular.scss";
@import "../../fonts/fontawesome-free-5.12.0-web/scss/solid.scss";


