.home {
  position: relative;
  padding: 0 !important;
  &__line {
    position: absolute;
    pointer-events: none;
    width: 430px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #E5E5E5;
    height: 1px;
  }
  .old-price {
    margin-right: 15px;
  }
  &__gbg {
    position: absolute;
    width: 400px;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  &__m-image {
    width: 100%;
    margin: 23px 0;
    display: none;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      padding-top: 56%;
    }
  }
  .discount-timer {
    margin-top: 45px;
  }
  &__container {
    position: relative;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-height: 900px;
    min-height: 600px;
    padding-top: 45px;
    position: relative;
    z-index: 2;
  }
  &__title {
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-weight: bold;
  }
  &__sub-title {
    font-family: $font2;
  }
  &__price {
    margin-top: 40px;
    .button {
      margin-top: 8px;
    }
  }
  &__m-img {
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 100%;
  }
  &__img-cover {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
}

@media all and(min-width: 1024px) {
  .home { 
    min-height: 580px;
  }
  @media all and(max-height: 650px) {
    .home {
      &__title {
        font-size: 36px;
      }
      &__price {
        margin-top: 30px;
      }
      .discount-timer {
        margin-top: 30px;
      }
    }
  }
}

@media all and(max-width: 1024px) {
  .home {
    &__line {
      width: 200px;
    }
  }
}
@media all and(max-width: 768px) {
  .home {
    &__content {
      height: 700px;
    }
    &__image-d {
      padding-left: 0;
    }
  }
}
@media all and(max-width: 576px) {
  .home {
    &__line {
      display: none;
    }
    &__m-image {
      display: block;
    }
    &__gbg {
      width: 232px;
      height: 247px;
      top: 95px;
      left: 15px;
      transform: translate(0);
    }
    &__price {
      margin: 0;
    }
    &__content {
      height: auto;
      min-height: 0px;
      padding-top: 110px;
    }
    &__image-d {
      display: none;
    }
    .discount-timer {
      margin-top: 23px;
    }
  }
}

@media all and(max-width: 375px) {
  .home__content {
    padding-top: 100px;
  }
}