@import "./partials/normalize";
@import "./partials/fonts";

//color
$colorA: #A96450;
$colorAA: #9c5845;
$colorB: #FF1717;
$colorC: #91381F;
$colorD: #1F1F1E;
$colorE: #656669; 
$colorF: #FBF7F6;
$colorG: #50A999;
$colorH: #FDFCFB;


//transition
$trs1: .25s ease-out;
$trs2: .5s ease-out;
//fonts
$font1: 'Montserrat', sans-serif;
$font2: 'NocturneSerif', sans-serif;

body {
  font-family: $font2;
  font-weight: 300;
  font-size: 16px;
  min-width: 320px;
  color: $colorD;
  line-height: 1.3;
}

* {
  user-select: none;
}

//grid
@import "./partials/grid";

.page-wrapper {
  position: relative;
  transition: opacity 1s;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
  position: relative;
}
@media all and(max-width: 360px) {
  .container {
    padding: 0 15px;
  }
}

@import "./partials/text";
@import "./partials/ui";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "./partials/header";
@import "./partials/home";
@import "./partials/sections";
@import "./partials/footer";


