extends layout/layout
block content
  include blocks/popup
  include blocks/header
  include blocks/home
  include blocks/presentation
  section.section.why.js-animate-section.bnm#why
    .container
      .why__container
        h5.decorated.center.t-size-24.why__title Благодаря гиду Girls Out Moscow вы будете<br> себя чувствовать как «рыба в воде»<br> в гастрономической Москве.
        .why__content
          .why__img-container
            .why-img-block1
              .image.img
                .lazy.bg(data-src='img/2.jpg')
              span.img Более 100 страниц!
          .why__text.t-size-24
            i.fas.fa-check
            | Большое количество<br> актуальной информации. 
  section.section.why.js-animate-section.bnm
    .container
      .why__container
        h5.decorated.center.t-size-24.why__title Благодаря гиду Girls Out Moscow вы будете<br> себя чувствовать как «рыба в воде»<br> в гастрономической Москве.
        .why__content
          .why__img-container
            .why-img-block4
              .image.img
                .lazy.bg(data-src='img/4.jpg')
              .image.img
                .lazy.bg(data-src='img/23.jpg')
              .image.img
                .lazy.bg(data-src='img/33.jpg')
          .why__text.t-size-24
            i.fas.fa-check
            | Удобная<br> навигация.
  section.section.why.why3.js-animate-section.bnm
    .container
      .why__container
        h5.decorated.center.t-size-24.why__title Благодаря гиду Girls Out Moscow вы будете<br> себя чувствовать как «рыба в воде»<br> в гастрономической Москве.
        .why__content
          .why__img-container.why3
            .why-img-block2
              .image.img
                .lazy.bg(data-src='img/5.jpg')
              .image.img
                .lazy.bg(data-src='img/7.jpg')
              .image.img
                .lazy.bg(data-src='img/6.jpg')
              .image.img
                .lazy.bg(data-src='img/8.jpg')
          .why__text.t-size-24
            i.fas.fa-check
            | Красивый и стильный<br> дизайн.
  section.section.why.js-animate-section
    .container
      .why__container
        h5.decorated.center.t-size-24.why__title Благодаря гиду Girls Out Moscow вы будете<br> себя чувствовать как «рыба в воде»<br> в гастрономической Москве.
        .why__content
          .why__img-container
            .why-img-block3
              .image.img
                .lazy.bg(data-src='img/121.jpg')
              .image.img
                .lazy.bg(data-src='img/122.jpg')
              .image.img
                .lazy.bg(data-src='img/123.jpg')
          .why__text.t-size-24
            i.fas.fa-check
            | Все разделено<br> на логические разделы.
  section.section.slider.js-animate-section#slider
    .container
      .slider__container
        h5.slider__title.decorated.t-size-42 В нашем гиде<br> 8 разделов:
        .slider__content
          .slider__wrap
            .slider-el
              .slider-el__slide
                .cover-box
                  img(data-src="img/slide1.jpg" alt="image").lazy
              .slider-el__slide
                .cover-box
                  img(data-src="img/slide2.jpg" alt="image").lazy
              .slider-el__slide
                .cover-box
                  img(data-src="img/slide3.jpg" alt="image").lazy
              .slider-el__slide
                .cover-box
                  img(data-src="img/slide1.jpg" alt="image").lazy
              .slider-el__slide
                .cover-box
                  img(data-src="img/slide2.jpg" alt="image").lazy
              .slider-el__slide
                .cover-box
                  img(data-src="img/slide3.jpg" alt="image").lazy
              .slider-el__slide
                .cover-box
                  img(data-src="img/slide1.jpg" alt="image").lazy
              .slider-el__slide
                .cover-box
                  img(data-src="img/slide2.jpg" alt="image").lazy
          .slider__nav

            .slider__items
              .slider__item-title 
                span 1.<br> 
                | Фудмаркеты
              .slider__item-title 
                span 2.<br> 
                | Завтраки
              .slider__item-title 
                span 3.<br> 
                | Игривое настроение и танцы
              .slider__item-title 
                span 4.<br> 
                | Signature Moscow
              .slider__item-title 
                span 5.<br> 
                | Family
              .slider__item-title 
                span 6.<br> 
                | Дымка
              .slider__item-title 
                span 7.<br> 
                | Работать и пить кофе
              .slider__item-title 
                span 8.<br> 
                | New
            .slider__btns
              a(href="javascript:void(0)").slider__btn.sliderPrev.js-animated
                i.fas.fa-chevron-left
              a(href="javascript:void(0)").slider__btn.sliderNext.js-animated
                i.fas.fa-chevron-right
  section.section.b-section.js-animate-section
    .container
      .b-section__container
        .b-section__decor
          .b-section__bg
            .b-section__bgc.bgc1
              .bg.lazy.bg(data-src='img/b1.jpg')
          .b-section__bg
            .b-section__bgc.bgc2
              .bg.lazy.bg(data-src='img/b1.jpg')
          .b-section__bg
            .b-section__bgc.bgc3
              .bg.lazy.bg(data-src='img/b1.jpg')
        .b-section__decor
          .b-section__bg
            .b-section__bgc.bgc1
              .bg.lazy.bg(data-src='img/b2.jpg')
          .b-section__bg
            .b-section__bgc.bgc2
              .bg.lazy.bg(data-src='img/b2.jpg')
          .b-section__bg
            .b-section__bgc.bgc3
              .bg.lazy.bg(data-src='img/b2.jpg')
        .b-section__content
          h5.b-section__title.decorated.center.t-size-24.b-section__item Хотите знать, какие рестораны<br> в Москве самые вкусные<br> и атмосферные?
          span.b-section__text.b-section__item Тогда наш гид для вас<br> всего за 199 рублей!
          span.old-price.b-section__item 299 Р
          a(href="#popup").button.button_style1.js-animated.js-popup.size2.b-section__item
            i.fas.fa-shopping-bag
            | Купить за 199 Р
          .discount-timer.b-section__item
            .discount-timer__title Предложение действует 
              span только 3 дня!
            .discount-timer__container
              .discount-timer__top
                span.days 
                  span 00
                span.hours
                  span  00
                span.minutes
                  span  00
              .discount-timer__bottom
                span Дней
                span Часов
                span Минут
  include blocks/footer