footer.footer
  .container
    .footer__container
      h5.footer__title.t-size-32.decorated.center Наши контакты
      span Вы можете связаться с нами любым<br> удобным для вас способом
      .socials
        ul.socials__list
          li.socials__item  
            a(href="#").socials__link.js-animated
              i.fab.fa-instagram
          li.socials__item  
            a(href="#").socials__link.js-animated
              i.fab.fa-facebook-square
          li.socials__item  
            a(href="mailto:").socials__link.js-animated
              i.fas.fa-envelope-square
      .footer__copy Girls Out Moscow &copy; 2019 all rights reserved
