header.header
  .container
    .header__container
      .logo
        a(href="javascript:void(0)").logo__link Girls Out Moscow
      .header__buttons
        a(href="#why").button.button_style2.js-animated.js-scrollTo Почему мы?
        a(href="#slider").button.button_style2.js-animated.js-scrollTo Разделы
        a(href="#popup").button.button_style1.js-animated.js-popup
          i.fas.fa-shopping-bag
          | Купить гид