section.section.presentation.js-animate-section
  .container
    .presentation__container.row
      .presentation__text.col-xl-5.col-sm-6.col-12
        span.decorated.t-size-24.presentation__item Любите вкусную еду<br> и красивые места?
        span.presentation__title.t-size-32.presentation__item Тогда этот гид создан специально для вас!
        p.presentation__item Только личный опыт без рекламы,<br> которая всем уже так надоела.
        p.presentation__item Мы собрали наши любимые рестораны в одном месте! Теперь вам достаточно просто открыть его и выбрать место из актуального для вас раздела.
        a(href="#popup").button.button_style1.js-animated.js-popup.size2.presentation__item
          | Посмотреть
      .presentation__images.col-xl-7.col-sm-6.col-12
        .presentation-board
          .presentation-board__image
            .lazy(data-src='img/1.jpg')
          .presentation-board__image
            .lazy(data-src='img/222.jpg')
          .presentation-board__image
            .lazy(data-src='img/3.jpg')
          .presentation-board__container
            span.presentation-board__bg

